* {
	box-sizing: border-box;
}

body {
	background-color: teal;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}

.main-heading {
	font-size: 3rem;
	margin-top: 30px;
}

.line-break {
	font-size: 2em;
}

/*----------image styling----------*/

.image {
	width: 300px;
	height: 300px;
	border: 3px solid white;
	border-radius: 10px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.image-container {
	width: 90%;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 20px;
}

.bio-pic {
	margin:0 auto;
	background-image: url("assets/images/sagar.jpg");
}

.time-modal {
	background-image: url("assets/images/robot_butler.jpg");
}

.fishtown-explorers {
	background-image: url("assets/images/Fishtown.jpg");
}

.car-phree {
	background-image: url("assets/images/car_phree.jpg");
}

/*----------Media Queries----------*/

/* Smartphone break point */
@media only screen and (max-device-width: 480px) {
	
	.image-container {
		width: 100%;
		display: block;
	}

	.line-break {
		font-size: 1em;
	}
}

/*Tablet break point*/
@media only screen and (min-device-width: 481px) and (max-device-width: 800px) {
		
	.image-container {
		width: 70%;
		display: block;
	}

	.line-break {
		font-size: 1.2em;
	}
}

/*Extra Large Screen Sizes*/
/*@media only screen and (min-device-width: 1200px) and (max-device-width: 4000px) {
		
		.image-container {
		width: 70%;
		display: block;
		justify-content: space-around;
		margin: 0 auto;
		margin-top: 50px;
	};

	.line-break {
		font-size: 1.5em;
	};
};*/





















