* {
	box-sizing: border-box;
}

body {
	background-color: teal;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}

.main-heading {
	font-size: 3rem;
	margin-top: 30px;
}

.line-break {
	font-size: 2rem;
}

/*----------image styling----------*/

.image {
	width: 300px;
	height: 300px;
	border: 3px solid white;
	border-radius: 10px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin:5px;
}

.image-container {
	width: 90%;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 20px;
}

.bio-pic {
	margin:0 auto;
	background-image: url("assets/images/sagar.jpg");
}

.time-modal {
	background-image: url("assets/images/robot_butler.jpg");
	background-size: 100% 100%;
}

.fishtown-explorers {
	background-image: url("assets/images/Fishtown.jpg");
}

.car-phree {
	background-image: url("assets/images/car_phree.jpg");
}




















